@import url('https://fonts.googleapis.com/css?family=Secular One');

.social-media {
  font-size: 2rem;
}

.social-media > i {
  padding-right: 1rem;
  padding-left: 1rem;
}

.title {
  font-family: "Secular One";
  font-size: 3rem;
  color: #2E4057;
  text-transform: uppercase;
  border-bottom: solid .5rem #73ba9b;
  letter-spacing: .5rem;
  margin-top: 2rem;
  line-height: 1rem;
  white-space: nowrap;
}

.logo {
  width: 4rem;
  height: 4rem;
  background-image: url('../img/tree.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: solid .5rem #73ba9b;
}

.search-bar {
  margin-top: 2rem;
}

.success-btn {
  background-color: #73ba9b;
  border-radius: 0.5rem;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.5rem;
}

.success-btn:hover {
  background-color: #67a78b;
}