#logo {
    width: 100%;
    height: auto;
    padding: 0;
}

#search-input {
    border-radius: 10px;
    border-color: #B7B7B7;
    border-width: 1px;
    width: 750px;
    margin: 15px 10px 10px 10px;
}

#logo-container {
    margin: 10px 10px 10px 10px;
    width: 20%;
}

#profile {
    margin: 15px 10px 10px 10px;
}

#profile-name {
    margin-top: 5px;
}

#rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#start-btn {
    border: none;
    padding: 125px;
    font-size: 50px;
    border-color: #73BA9B;
    color: white;
    background-color: #73BA9B;
    border-radius: 50%;
}